.container {
    border-style: solid;
    border-radius: 50px;
    border-color: #005F56;
    background-color: #F5F5F5;
    width: 60%;
    height: auto; /* Auto height for better responsiveness */
    margin: 20px auto; /* Center container */
    padding: 20px; /* Added padding for spacing */
    color:#005F56;
}

.custom-jumbotron{
background-color: #C4A000;
border-radius: 30px;
width: 600px;
height:60%;
margin: 0 auto; /* Centers it */
text-align: center; /* Centers text inside */
}

section {
    height: 100vh;
}

p {
    color: #005F56;
    font-size: 16px;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #005F56;
}

img {
    border-radius: 30px;
    margin-bottom: 30px;
    margin-top: 50px;
    max-width: 50%;
    height: 250px;
}



h2{
    color:#005F56;;
    padding: 10px;
}


button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: #C4A000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: transparent;
    border: 2px solid gray;
    transform: scale(1.1);
    
    
}

.border1{

    border-style: solid;
    border-radius: 50px;
    border-color: #005F56;
    color:#005F56;
    margin:2%;
    background-color: #FFF4C2;

}
.objectives {
    color: #005F56;
    font-size: 25px;
    text-align: center;
    max-width: 80%;
    margin: 20px auto;
    line-height: 1.5;
}
.colour{

 width: 100%;
background-color: #005F56;
color: #005F56;

}
