.container{
    border-style: solid;
    border-radius: 50px;
    border-color: #0071b3;
    width: 80%;
    margin-bottom: 20px;
    height: 30%;
    /* margin: 80px;   */
}

section{
    height: 100vh;
  
}

p {
    color: aliceblue
}

div {

    text-align: center;
}

body {
    align-self: center;
    background-image: linear-gradient( rgb(90, 156, 255),rgb(0, 187, 255));
}

img
{
    border-radius: 30px;
    margin-bottom: 20px;
}
.jersey-20-charted-regular {
    font-family: "Jersey 20 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration-color: linear-gradient(rgb(0, 0, 0), rgb(25, 251, 255));
}
 .btn-block{
    
     /* margin-left: 2%;  */
        width: 100%;
}

h2
{
    color: aliceblue;
}

.container h2 {
    padding: 10px;
}
.btn-new{
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(90, 156, 255);
    color: white;
    transition: 0.5s;
}
.btn-new:hover{
    background-color: transparent;
    border: 2px solid gray;
    transform: scale(1.1);
}

  
